.form-signin {
    max-width: 330px;
    margin: 15% auto;
}

/*.form-signin input[type="email"] {*/
    /*margin-bottom: -1px;*/
    /*border-bottom-right-radius: 0;*/
    /*border-bottom-left-radius: 0;*/
/*}*/

/*.form-signin input[type="password"] {*/
    /*margin-bottom: 10px;*/
    /*border-top-left-radius: 0;*/
    /*border-top-right-radius: 0;*/
/*}*/

.form-signin .form-control {
    position: relative;
    height: auto;
    box-sizing: border-box;
}