<div class="container">
    <div class="row">
        <div class="col-lg-offset-4 col-lg-4">
            <h3 class="text-center"><b>Ecommerce</b></h3>
            <br>

            <div class="panel panel-default">
                <form name="auth.loginForm">
                    <div class="panel-body">
                        <div class="form-group">
                            <input type="text"
                                   class="form-control"
                                   placeholder="Email"
                                   required=""
                                   autofocus=""
                                   ng-model="auth.credentials.email">
                        </div>
                        <div class="form-group">
                            <input type="password"
                                   class="form-control"
                                   placeholder="Password"
                                   required=""
                                   ng-model="auth.credentials.password">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-lg btn-primary btn-block"
                                ng-class="{'disabled': auth.loginForm.$invalid}"
                                ng-click="auth.login(auth.credentials)">Sign in</button>
                    </div>
                </form>
            </div>

            <flash-message></flash-message>
        </div>
    </div>
</div>
