<!-- Portfolio Item Heading -->
<div class="row" ng-init="vm.getWatch()" >
    <div class="col-sm-12">
        <div hl-sticky offset-top="51" sticky-class="watch-header">
            <h3 class="page-header">{{vm.watch.title}}
                <small>{{vm.watch.metadata.brand}}</small>
                <span class="pull-right"><i class="fa fa-dollar"></i> <b>{{vm.watch.metadata.price}}</b></span>
            </h3>
        </div>
    </div>
</div>
<!-- /.row -->

<!-- Portfolio Item Row -->
<div class="row">

    <div class="col-md-8">
        <div style="overflow: hidden">
            <div uib-carousel active="active" interval="5000">
                <div uib-slide ng-repeat="slide in vm.watch.metadata.images track by $index" index="$index">
                    <img ng-src="{{slide.url}}">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h3>Description</h3>
        <p ng-bind-html="vm.watch.content"></p>
        <h3>Details</h3>
        <table class="table table-bordered">
            <tr ng-repeat="field in vm.watch.metafields" ng-if="field.key !== 'images'">
                <td><b>{{field.title}}</b></td>
                <td>{{field.value}}</td>
            </tr>
        </table>
        <button ng-if="!cart.hasInCart(vm.watch._id)" class="btn btn-primary btn-block" ng-click="cart.addToCart(vm.watch)"><i class="fa fa-cart-plus"></i> Add to Cart</button>
        <button ng-show="cart.hasInCart(vm.watch._id) && !showRemove"
                ng-mouseenter="showRemove = true"
                class="btn btn-success btn-block"><i class="fa fa-check-circle"></i> Added</button>
        <button ng-show="cart.hasInCart(vm.watch._id) && showRemove"
                ng-mouseleave="showRemove = false"
                class="btn btn-danger btn-block" ng-click="cart.removeFromCart(vm.watch._id)"><i class="fa fa-remove"></i> Remove</button>        <!--<ul>-->


    </div>

</div>
