<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Ecommerce App</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <a ui-sref="main.cart" class="btn btn-primary navbar-btn navbar-right" ng-init="cart.getCart()">
                <i class="fa fa-shopping-cart"></i> <span class="badge">{{cart.watches.length}}</span>
            </a>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div id="shop" class="container" ui-view></div>
<!-- /.container -->

<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-left">
                <span class="footer-logo">
                    <a href="https://cosmicjs.com" target="_blank" style="text-decoration: none; color: #333">
                        <img src="https://cosmicjs.com/images/logo.svg" width="28" height="28">&nbsp;&nbsp;&nbsp;Proudly powered by Cosmic JS
                    </a>
                </span>
            </div>
            <div class="col-lg-4 text-center">
                <span class="">Copyright <i class="fa fa-copyright"></i> Ecommerce App 2017.</span>
            </div>
            <div class="col-lg-4 text-right">
                <a href="https://github.com/cosmicjs/ecommerce-app" target="_blank" class="btn btn-default"><i class="fa fa-github"></i>&nbsp;&nbsp;View code</a>
            </div>
        </div>
    </footer>

</div>