<div class=""
     ng-init="vm.getUser()"
     flow-init="vm.flowConfig"
     flow-name="vm.flow"
     flow-file-success="">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-4 col-md-offset-2 col-md-2 col-lg-offset-2 col-lg-2">
            <div class="panel panel-default user-avatar">
                <div class="user-overlay-upload-image">
                    <i ng-if="!vm.flow.files[0]" class="fa fa-pencil fa-2x" flow-btn></i>
                    <span ng-if="vm.flow.files[0]">
                        <i class="fa fa-remove cancel" ng-click="vm.flow.cancel()"></i>
                        <i ng-show="!vm.uploadProgress" class="fa fa-upload fa-2x" ng-click="vm.upload()"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <img ng-if="!vm.flow.files[0]" class="img-responsive" ng-src="{{vm.avatar}}">
                    <img ng-if="vm.flow.files[0]"
                         class="img-responsive"
                         flow-img="vm.flow.files[0]">
                    <uib-progressbar ng-show="vm.flow.files[0]" class="user-avatar-progress active" max="100"
                                     value="vm.uploadProgress"></uib-progressbar>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <form name="vm.settingsForm">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email"
                                   id="email"
                                   class="form-control"
                                   placeholder="Email"
                                   required=""
                                   ng-model="vm.user.metafields[1].value">
                        </div>
                        <div class="form-group">
                            <label for="email">Full Name</label>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Full Name"
                                   required=""
                                   autofocus=""
                                   ng-model="vm.user.metafields[2].value">
                        </div>
                        <div class="form-group">
                            <label for="email">Username</label>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Username"
                                   required=""
                                   autofocus=""
                                   ng-model="vm.user.metafields[0].value">
                        </div>
                        <div class="form-group">
                            <label for="email">Change Password</label>
                            <input type="password"
                                   class="form-control"
                                   placeholder="Password"
                                   required=""
                                   ng-model="vm.user.metafields[3].value">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-primary"
                                ng-class="{'disabled': vm.settingsForm.$invalid}"
                                ng-click="vm.updateUser(vm.user)">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


