<div class="row"
     ng-init="vm.getUser()"
     flow-init="vm.flowConfig"
     flow-name="vm.flow"
     flow-file-success="">
    <div class="col-xs-6 col-sm-offset-2 col-sm-4 col-md-offset-4 col-md-2 col-lg-offset-4 col-lg-2">
        <div class="panel panel-default user-avatar">
            <div class="user-overlay-upload-image"
                 ng-if="state.is('main.user.myProfile')">
                <i ng-if="!vm.flow.files[0]" class="fa fa-pencil fa-2x" flow-btn></i>
                <span ng-if="vm.flow.files[0]">
                    <i class="fa fa-remove cancel" ng-click="vm.flow.cancel()"></i>
                    <i ng-show="!vm.uploadProgress" class="fa fa-upload fa-2x" ng-click="vm.upload()"></i>
                </span>
            </div>
            <div class="panel-body">
                <img ng-if="!vm.flow.files[0]" class="img-responsive" ng-src="{{vm.avatar}}">
                <img ng-if="vm.flow.files[0]"
                     class="img-responsive"
                     flow-img="vm.flow.files[0]">
                <uib-progressbar ng-show="vm.flow.files[0]" class="user-avatar-progress active" max="100" value="vm.uploadProgress"></uib-progressbar>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
        <div class=""><h3>{{vm.user.metadata.username}}</h3></div>
        <p>
            {{vm.user.metadata.full_name}}
            {{vm.user.metadata.email}}
        </p>
        <p ng-show="vm.events.length">
            <b>{{vm.events.length}} events</b>
        </p>
        <!--<ul class="list-group">-->
            <!--<li class="list-group-item">{{vm.user.metadata.email}}</li>-->
            <!--<li class="list-group-item">{{vm.user.metadata.full_name}}</li>-->
        <!--</ul>-->
    </div>
</div>
<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-body row" ng-init="vm.getEvents()">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 thumb event-thumb-sm"
                     ng-repeat="event in vm.events">
                    <a class="thumbnail text-center" ui-sref="main.event.profile({slug: event.slug})">
                        <div class="img-container">
                            <img ng-show="event.metafields[0].value" class="img-responsive" ng-src="{{event.metadata.image.url}}">
                            <img ng-show="!event.metafields[0].value" class="img-responsive" ng-src="{{vm.DEFAULT_EVENT_IMAGE}}">
                        </div>
                        <h4 class="">
                            <span class="">
                                {{event.title}}
                                <span ng-switch="event.metadata.type">
                                    <span ng-switch-when="Social" class="badge bg-warning">social</span>
                                    <span ng-switch-when="Fun" class="badge bg-green">fun</span>
                                </span>
                            </span>
                        </h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


