<header class="business-header"
        ng-init="vm.getEvent()">
    <div class="container"
         flow-init="vm.flowConfig"
         flow-name="vm.flow"
         flow-file-success="">

        <div class="row">
            <div class="col-sm-2">
                <input class="pull-left"
                       type="hidden"
                       uib-datepicker-popup=""
                       ng-model="vm.event.metafields[1].value"
                       ng-change="vm.updateEvent(vm.event)"
                       is-open="vm.dateBeginPicker">
            </div>

            <div class="col-sm-8">
                <div class="business-header event-image"
                     ng-style="vm.background">
                    <div class="event-overlay">
                        <uib-progressbar ng-show="vm.flow.files[0]" class="event-progress active" max="100" value="vm.uploadProgress"></uib-progressbar>

                        <div class="tagline">
                        <span class="title pull-left">
                            <input type="text" ng-model="vm.event.title" ng-change="vm.updateEvent(vm.event)" placeholder="Enter title">
                        </span>
                        <span class="event-type pull-right" ng-switch="vm.event.metafields[3].value">
                            <span ng-switch-when="Social" class="badge bg-warning"
                                  ng-click="vm.event.metafields[3].value = 'Fun'; vm.updateEvent(vm.event)">social <i
                                    class="fa fa-pencil"></i></span>
                            <span ng-switch-when="Fun" class="badge bg-green"
                                  ng-click="vm.event.metafields[3].value = 'Social'; vm.updateEvent(vm.event)">fun <i
                                    class="fa fa-pencil"></i></span>
                        </span>
                        </div>
                        <div class="tagline-bottom">
                            <span class="badge bg-red pull-left" ng-click="vm.dateBeginPicker = !vm.dateBeginPicker">Begin <span ng-show="vm.event.metafields[1].value">|</span> {{vm.event.metafields[1].value | date}} <i
                                    class="fa fa-pencil"></i></span>
                            <span class="badge bg-blue pull-right" ng-click="vm.dateEndPicker = !vm.dateEndPicker">End <span ng-show="vm.event.metafields[2].value">|</span> {{vm.event.metafields[2].value | date}} <i
                                    class="fa fa-pencil"></i></span>
                        </div>
                        <div class="event-change-image" ng-show="globals.currentUser._id === vm.event.metadata.user._id  || state.is('main.event.add')">
                            <span ng-if="!vm.flow.files[0]" class="title" flow-btn>Change image <i class="fa fa-pencil"></i></span>
                            <div class="btn-group" ng-if="vm.flow.files[0]" ng-show="state.is('main.event.profile')">
                                <button class="btn btn-success btn-sm"
                                        ng-click="vm.upload()">Upload image <i class="fa fa-download"></i></button>
                                <button class="btn btn-default btn-sm" ng-click="vm.cancelUpload()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="dateEndPicker" class="col-sm-2">
                <input type="hidden"
                       uib-datepicker-popup=""
                       ng-model="vm.event.metafields[2].value"
                       is-open="vm.dateEndPicker"
                       ng-change="vm.updateEvent(vm.event)">
            </div>
        </div>
    </div>
</header>
<!-- Page Content -->

<div class="container">
    <div class="row">
        <br>
        <div ng-if="!vm.contentEditor" class="col-xs-12 col-sm-offset-2 col-sm-7 col-md-7" ng-bind-html="vm.event.content"
             ng-click="vm.contentEditor = !vm.contentEditor && globals.currentUser._id === vm.event.metadata.user._id"></div>
        <div ng-if="vm.contentEditor" class="col-xs-12 col-sm-offset-2 col-sm-7 col-md-7">
            <div ng-show="globals.currentUser._id === vm.event.metadata.user._id || state.is('main.event.add')">
                <div text-angular ng-model="vm.event.content"></div>
                <br>
                <div class="btn-group pull-right" ng-show="state.is('main.event.profile')">
                    <button class="btn btn-default" ng-click="vm.contentEditor = false">Cancel</button>
                    <button class="btn btn-primary" ng-click="vm.updateEvent(vm.event); vm.contentEditor = false">Save
                    </button>
                </div>
                <div class="btn-group pull-right" ng-show="state.is('main.event.add')">
                    <button class="btn btn-default" ui-sref="main.event">Cancel</button>
                    <button class="btn btn-primary" ng-click="vm.createEvent(vm.event)">Save
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-offset-3 col-xs-6 col-sm-1 col-md-offset-0 col-md-1">
            <div class="event-user-profile text-center">
                <a ui-sref="main.user.profile({slug: vm.event.metadata.user.slug})">
                    <img ng-src="{{vm.event.metadata.user.metadata.image.url}}"
                         class="img-circle img-responsive">
                </a>
                <a ui-sref="main.user.profile({slug: vm.event.metadata.user.slug})">{{vm.event.metadata.user.metadata.username}}</a>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->


